@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "namu-medium";
    src: url("/assets/font/NAMU-Pro.ttf") format("truetype");
  }
}


@layer utilities {
  .header-text {
    @apply text-base font-custom
  }

  .heading-size {
    @apply text-[2.75rem] font-custom leading-[3.3125rem]
  }
  .swiper-wrapper {
    @apply relative
  }
  .footer-text {
    @apply font-custom text-[#414141] text-sm
  }
  .pagination-anim {
    animation: progressAnimations 6s;
  }
  @keyframes progressAnimations {
    0% { width: 0%; }
    100% { width: 100% }
  }
}